<div class="tabs is-centered is-small">
  <ul>
    <li class="is-active"><a>早鳥首映會</a></li>
    <li><a>限時閃購</a></li>
    <li><a>即時排行 TOP 100</a></li>
    <li><a>焦點推薦</a></li>
    <li><a>居家生活</a></li>
    <li><a>品味餐廚</a></li>
    <li><a>個人風格</a></li>
    <li><a> 3C 科技</a></li>
    <li><a>興趣娛樂</a></li>
    <li><a>戶外旅行</a></li>
    <li><a>VIEWS 生活誌</a></li>
  </ul>
</div>
