<section class="sitemap has-background-white">
<div class="container">
  <div class="columns">
    <div class="column menu">
      <p class="menu-label is-size-6">關於我們</p>
      <ul class="menu-list">
        <li>關於 citiesocial</li>
        <li>隱私權保護政策</li>
        <li>服務條款</li>
        <li><span class="is-size-4"><i class="fab fa-facebook-square"></i> <i class="fab fa-instagram"></i></span></li>
      </ul>
    </div>
    <div class="column menu">
      <p class="menu-label is-size-6">聯絡我們</p>
      <ul class="menu-list">
        <li><span class="tel">02-2393-2610</span></li>
        <li>service@citiesocial.com</li>
        <li>業務合作洽談</li>
        <li>Sell with citiesocial</li>
      </ul>
    </div>
    <div class="column menu">
      <p class="menu-label is-size-6">自助查詢</p>
      <ul class="menu-list">
        <li>銀行優惠說明</li>
        <li>LINE Points 回饋說明</li>
        <li>預購商品查詢</li>
        <li>訂單出貨查詢</li>
        <li>配送進度查詢</li>
      </ul>
    </div>
    <div class="column menu">
      <p class="menu-label is-size-6">顧客服務</p>
      <ul class="menu-list">
        <li>VIEWS生活誌</li>
        <li>早鳥首映會</li>
        <li>退換貨說明</li>
        <li>發票說明</li>
        <li>客服中心</li>
      </ul>
    </div>
  </div>
</div>
</section>
<hr />
